<h2>Stock Positions</h2>
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Listing ID</th>
      <th>Quantity</th>
      <th>Price</th>
      <th>Value</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let position of positions">
      <td>{{position.id}}</td>
      <td>{{position.listing_id}}</td>
      <td>{{position.quantity}}</td>
      <td>{{position.price | currency:USD:true}}</td>
      <td>{{position.value | currency:USD:true}}</td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <th colspan="4">Total</th>
      <th>{{totalValue | currency:USD:true}}</th>
    </tr>
  </tfoot>
</table>
