<nav>
  <ul>
    <li>
      <a [routerLink]="['/home']">Home</a>
      <ul>
        <li><a [routerLink]="['/about']">About Us</a></li>
        <li><a [routerLink]="['/terms']">Terms</a></li>
        <li><a [routerLink]="['/privacy']">Privacy</a></li>
        <li><a [routerLink]="['/contact']">Contact Us</a></li>
      </ul>
    </li>
    <li>
      <a [routerLink]="['/account']">Account</a>
      <ul>
        <li><a [routerLink]="['/account/balances']">Balances</a></li>
        <li><a [routerLink]="['/account/positions']">Positions</a></li>
        <li><a [routerLink]="['/account/orders']">Orders</a></li>
      </ul>
    </li>
  </ul>
</nav>
