<nav [class.active]="authService.isLoggedIn">
  <div class="row">
    <div class="col-xs-2 text-center">
      <a [routerLink]="['/home']" [routerLinkActive]="'active'">
        <span class="glyphicon glyphicon-home"></span>
        <span class="nav-text"><br class="break">Home</span>
      </a>
    </div>
    <div class="col-xs-2 text-center">
      <a [routerLink]="['/account']" [routerLinkActive]="'active'">
        <span class="glyphicon glyphicon-user"></span>
        <span class="nav-text"><br class="break">Account</span>
      </a>
      <!-- TODO remove if navigation sufficient from internal pages -->
      <ul>
        <li><a [routerLink]="['/account/profile']">Profile</a></li>
        <li><a [routerLink]="['/account/security']">Security</a></li>
        <li><a [routerLink]="['/account/transfers']">Transfers</a></li>
        <li><a [routerLink]="['/account/beneficiaries']">Beneficiaries</a></li>
      </ul>
    </div>
    <div class="col-xs-2 text-center">
      <a [routerLink]="['/balances']" [routerLinkActive]="'active'">
        <span class="glyphicon glyphicon-usd"></span>
        <span class="nav-text"><br class="break">Balances</span>
      </a>
    </div>
    <div class="col-xs-2 text-center">
      <a [routerLink]="['/positions']" [routerLinkActive]="'active'">
        <span class="glyphicon glyphicon-list-alt"></span>
        <span class="nav-text"><br class="break">Positions</span>
      </a>
    </div>
    <div class="col-xs-2 text-center">
      <a [routerLink]="['/orders']" [routerLinkActive]="'active'">
        <span class="glyphicon glyphicon-check"></span>
        <span class="nav-text"><br class="break">Orders</span>
      </a>
    </div>
    <div class="col-xs-2 text-center">
      <a [routerLink]="['/trade']" [routerLinkActive]="'active'">
        <span class="glyphicon glyphicon-transfer"></span>
        <span class="nav-text"><br class="break">Trade</span>
      </a>
    </div>
  </div>
</nav>
