<nav>
  <ul>
    <li>
      <a [routerLink]="['/home']">Home</a>
      <ul>
        <li><a [routerLink]="['/about']">About Us</a></li>
        <li><a [routerLink]="['/terms']">Terms</a></li>
        <li><a [routerLink]="['/privacy']">Privacy</a></li>
        <li><a [routerLink]="['/contact']">Contact Us</a></li>
      </ul>
    </li>
    <li>
      <a [routerLink]="['/account']">Account</a>
      <ul>
        <li><a [routerLink]="['/account/balances']">Balances</a></li>
        <li><a [routerLink]="['/account/positions']">Positions</a></li>
        <li><a [routerLink]="['/account/orders']">Orders</a></li>
        <li><a [routerLink]="['/account/transfers']">Transfers</a></li>
        <li><a [routerLink]="['/account/beneficiaries']">Beneficiaries</a></li>
      </ul>
    </li>
    <li>
      <a [routerLink]="['/stocks']">Stocks</a>
      <ul>
        <li><a [routerLink]="['/stocks/stock-positions']">Positions</a></li>
        <li><a [routerLink]="['/stocks/stock-trades']">Trades</a></li>
        <li><a [routerLink]="['/stocks/stock-research']">Research</a></li>
        <li><a [routerLink]="['/stocks/stock-pulse']">Pulse</a></li>
      </ul>
    </li>
    <li>
      <a [routerLink]="['/funds']">Funds</a>
      <ul>
        <li><a [routerLink]="['/funds/fund-positions']">Positions</a></li>
        <li><a [routerLink]="['/funds/fund-trades']">Trades</a></li>
        <li><a [routerLink]="['/funds/fund-research']">Research</a></li>
        <li><a [routerLink]="['/funds/fund-pulse']">Pulse</a></li>
      </ul>
    </li>
    <li>
      <a [routerLink]="['/settings']">Settings</a>
      <ul>
        <li><a [routerLink]="['/settings/profile']">Profile</a></li>
        <li><a [routerLink]="['/settings/security']">Security</a></li>
      </ul>
    </li>
  </ul>
</nav>
