<h2>Profile</h2>

<div *ngIf="error" class="alert alert-danger">
  Unable to contact server.  Please reload the page and try again.
</div>

<div *ngIf="!error">
  <div *ngIf="!loaded" class="alert alert-info">
    Loading ...
  </div>

  <div *ngIf="submitted && !updated" class="alert alert-info">
    Saving ...
  </div>

  <div *ngIf="updated" class="alert alert-success">
    Changes Saved
  </div>

  <form *ngIf="loaded" [formGroup]="profileForm" (ngSubmit)="submit()">
    <div *ngFor="let field of fields" class="form-group"
        [class.has-success]="!profileForm.controls[field].pristine && !formErrors[field]"
        [class.has-error]="(!profileForm.controls[field].pristine || failed) && formErrors[field]">
      <label [attr.for]="field">{{ field | underspace | capitalize }}</label>
      <input id="{{ field }}" class="form-control" formControlName="{{ field }}" type="text" placeholder="{{ field | underspace | capitalize }}">
      <div *ngIf="formErrors[field]" class="help-block">
        {{ formErrors[field] }}
      </div>
    </div>
    <button [disabled]="!profileForm.valid || submitted" class="btn btn-primary" type="submit">Submit Changes</button>
  </form>
</div>
