<h2>Profile</h2>
<form *ngIf="!fetchFailed" #f="ngForm" (ngSubmit)="submit()">
  <!-- TODO: refactor with validation -->
  <!-- TODO: refactor with new forms API -->
  <input [(ngModel)]="user.username" name="username" type="text" placeholder="Username">
  <input [(ngModel)]="user.first_name" name="first_name" type="text" placeholder="First Name">
  <input [(ngModel)]="user.last_name" name="last_name" type="text" placeholder="Last Name">
  <input [(ngModel)]="user.address" name="address" type="text" placeholder="Address">
  <input [(ngModel)]="user.city" name="city" type="text" placeholder="City">
  <input [(ngModel)]="user.state" name="state" type="text" placeholder="State">
  <input [(ngModel)]="user.country" name="country" type="text" placeholder="Country">
  <input [(ngModel)]="user.postal_code" name="postal_code" type="text" placeholder="Postal Code">
  <input [(ngModel)]="user.phone" name="phone" type="text" placeholder="Phone">
  <input [(ngModel)]="user.email" name="email" type="text" placeholder="Email">
  <button type="submit">Submit Order</button>
</form>
